.bar {
    width: 100%;                      
    background-color: #1a73e8;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    }

    .footer {
    position: fixed;   
    bottom: 0;        
    left: 0;   
    width: 100%; 
    height: 60px;
    line-height: 20px; 
    background-color: #1a73e8;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;
    border-top: 1px solid #ddd;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    }

body {
      font-family: Arial, sans-serif;
      padding: 0;
      background: #f2f2f2;
        margin: 0;
    box-sizing: border-box;
    }
    #chatBox {
      width: 100%;
      max-width: 600px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      background: white;
      border-radius: 10px;
      padding: 30px;
      height: auto;
      overflow-y: auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      display: none;
    }
    .message {
      margin: 10px 0;
    }
    .user {
      text-align: right;
      color: #1a73e8;
      border-radius: 10px;
      padding: 30px;
      height: auto;
      overflow-y: auto;
    }
    .bot {
      text-align: left;
      color: #111;
    }
    #inputSection {
      max-width: 600px;
      margin: 20px auto 0;
      display: flex;
      gap: 10px;
    }
    #queryInput {
      flex: 1;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    button {
      padding: 10px 20px;
      border: none;
      background: #1a73e8;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }

    #faqSection {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}
#faqSection button {
  margin: 5px;
  padding: 10px;
  background: #1a73e8;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}